torch
pandas==2.3.0
requests==2.32.4
git+https://github.com/openai/whisper.git
streamlit==1.45.1
aiohttp==3.12.2
backoff==2.2.1
nest_asyncio==1.6.0
asyncio
streamlit==1.45.1
tenacity==8.5.0
google-genai==1.19.0
google-generativeai==0.8.5
ffmpeg
